{% extends 'main.html'%}
{% block content%}
<h1> Projects Template</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type 
    specimen book. It has survived not only five centuries, but also the leap into
     electronic typesetting, remaining essentially unchanged. It was popularised 
     in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
     and more recently with desktop publishing software like Aldus PageMaker including 
     versions of Lorem Ipsum.</p>

<h1> Proyectos</h1>
{{proyectos}}
{% for proyecto in proyectos.all %}
<li>{{proyecto.name}}</li>
<li>{{proyecto.document}}</li>
<li>{{proyecto.email}}</li>
<br>
{% endfor %}

<h1> Usuario_registrado</h1>
{{Usuario_reg}}
{% for Usuario_reg in Usuario_reg.all %}
<li>{{Usuario_reg.document}}</li>
<li>{{Usuario_reg.usuario.id}}</li>
<li>{{Usuario_reg.moneda}}</li>
<br>
{% endfor %}

<h1> Users_orig</h1>
{{Users_orig}}
{% for Users_orig in Users_orig.all %}
<li>{{Users_orig.id}}</li>
<li>{{Users_orig.username}}</li>
<li>{{Users_orig.email}}</li>
<br>
{% endfor %}

<h1> Add_coin</h1>
{{Add_coin}}
{% for Add_coin in Add_coin.all %}
<li>{{Add_coin.usuario_id}}</li>
<li>{{Add_coin.dinero}}</li>
<br>
{% endfor %}

{% if request.user.is_authenticated %}
<li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>

{% else  %}
<li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>

{% endif  %}

{% endblock content%}