<!-- templates/registration/signup.html -->
{% extends "main.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Enter password"/>
    <input type="text" name="email" placeholder="email"/>
    <input type="text" name="firstname" placeholder="firstname"/>
    <input type="text" name="lastname" placeholder="lastname"/>
    <input type="text" name="document" placeholder="document"/>
    <input type="text" multiple name="moneda" id="moneda"
    list="drawcoins" required size="64">
    <datalist id="drawcoins">
        <option value="Pesos Colombianos"> COP</option>
        <option value="Dolares Americanos"> USD</option>  
    </datalist>
    <input type="submit" value="signup" />
</form>
{% endblock %}